* {
  box-sizing: border-box;
  margin: 0px;
}

.navigation {
  padding: 0px;
  background-color: lightgray;
  margin-bottom: 15px;
}

.menu {
  background-color: none;
  list-style: none;
  padding: 15px 0px;
  display: flex;
}

.menu-item {
  flex: 1;
  text-align: center;
}

.top-bar {
  background-color: dodgerblue;
  padding: 15px 0px;
}
